.profilepic img {
	width: 100%;
	margin: 10px;
}

button {
	background-color: #96CCC4;
	font-family: Arial;
	size: 1.1em;
	border-radius: 5px;
	border-color: grey;
}

.profile {
	background-color:  #D5C0D9;
}


.gridbutton p {
	color: red;
	font-size: 2em;

}


.button {
	float: right;
}

